extends layout

block content
  #header
    h1= title
    h2= description
  #body
    #body-left.column
      each blog in blogs
        div(class="blog-entry")
          != blog
    #body-right.column
      img(src="images/face.jpg", alt="my face", class="profile")
      div
        != about
      div
        a(href="https://www.linkedin.com/pub/jonathan-boone/24/186/17a")
          img(src="images/linkedin.png" alt="linkedin" class="contact")
