body
  padding: 0px
  font-family: hattori_hanzo, serif
  color: #666
a
  color: #00B7FF
#header
  height: 44px
  position: fixed
  left: 0px
  right: 0px
  background: #fff
  opacity: 0.8
  border-bottom: 1px solid #666
#header>h1, #header>h2
  font-size: 1em;
  color:  #666;
  position: fixed;
#header>h1
  left: 10px;
#header>h2
  right: 10px;
#body
  padding: 50px 20px 20px 20px;
  width: 960px;
.column
  float: left
  clear: none
#body-left
  width: 660px; 
  min-height: 200px;
#body-right
  width: 300px;
